@using Entites.Concrete

@model LiveShows

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Live Show</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group
                <label asp-for="Loacation" class="control-label"></label>
                <input asp-for="Loacation" class="form-control" />
                <span asp-validation-for="Loacation" class="text-danger"></span>
            </div>
    
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input type="datetime-local" asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label>Sekil 2</label>
                <input asp-for=Photo id="imgurl" type="hidden" class="form-control">
                <input id="PictureUrls" type="file" accept="image/*" class="form-control">
                <img />

            </div>

            @*   <select name="MusicianId" class="form-group">
            @foreach (var item in Model.Musicians)
            {
            <option value="@item.Musicians.Id">@item.Musicians.Name</option>
            }
            </select> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section MyScripts{
    <script>
        var pictureUrl=document.querySelectorAll("#PictureUrls")

         $(pictureUrl).change(function ()
         {
             var pictures = this.files;
            var PicsData = new FormData();
             PicsData.append("Picture", pictures[0])
             var img=$(this).parent().find('img')
             var inp= $(this).parent().find('#imgurl')
            $.ajax({
                url: "/core/UploadPictures",
                type: "POST",
                data: PicsData,
                dataType: "JSON",
                contentType: false,
                processData: false,
                success: function (res) {
                 img.attr('src',res.value[0])
                 inp.val(res.value[0])
                }
            })
         })
    </script>
}